<div class="card p-3 mb-0 sm:mb-5">
    <h4 class="text-center font-bold m-0">Inicio de Matrícula</h4>
    <h5 class="text-center text-balance mt-2">
        Este formulario permite iniciar el proceso de matrícula para la solicitud seleccionada
    </h5>
</div>

<!-- Información del solicitante (editable) -->
<app-editable-user-info-form />

<!-- Información de la obra (solo lectura) -->
<app-readonly-property-info />

<!-- Información del medidor -->
<app-meter-data />

<!-- Carga de archivos -->
<app-file-upload-section />
