<div class="contaiter-auth">
    <div class="card mt-0 sm:mt-8 p-2 sm:p-6 grid justify-content-around gap-0">
        <div class="lg:col-5 hidden lg:flex justify-content-center align-content-center">
            <img
                routerLink="/"
                src="../../../../assets/layout/images/energuaviareLogo.svg"
                alt="Logo de energuaviare"
                class="logoDesktop cursor-pointer" />
        </div>

        <p-divider styleClass="lg:col-2 hidden lg:block" layout="vertical" />

        <div class="col-12 lg:col-5">
            <div class="lg:hidden flex justify-content-center mb-6 sm:mb-4">
                <img
                    routerLink="/"
                    src="../../../../assets/layout/images/energuaviareLogotipo.svg"
                    alt="Logo de energuaviare"
                    width="250"
                    class="cursor-pointer" />
            </div>

            <p class="text-xl lg:text-2xl font-medium text-center my-2">Cambio de contraseña</p>
            <p class="text-center text-sm lg:text-base">
                Por favor ingrese el código de verificación enviado a su correo electrónico
            </p>

            <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="mt-3 p-fluid">
                <div class="field mt-6">
                    <label for="code">Código</label>
                    <p-inputOtp formControlName="code" [length]="6" [integerOnly]="true" />
                </div>

                <div class="field mt-3">
                    <label for="username">Identificación</label>
                    <input
                        placeholder="Ingrese su número de identificación"
                        pKeyFilter="int"
                        autocomplete=""
                        class="w-full"
                        formControlName="username"
                        id="username"
                        pInputText
                        type="tel" />
                </div>

                <div class="field mt-3">
                    <label for="password">Crear contraseña</label>
                    <p-password
                        [toggleMask]="true"
                        formControlName="password"
                        mediumLabel="Complejidad media"
                        placeholder="Cree una contraseña"
                        promptLabel="Cree una contraseña"
                        strongLabel="Contraseña compleja"
                        weakLabel="Demasiado simple">
                        <ng-template pTemplate="footer">
                            <p-divider />
                            <p class="mt-3 mb-1 font-medium">Sugerencias</p>
                            <ul class="pl-3 ml-2 mt-0 text-red-500" style="line-height: 1.5">
                                <li [class]="getClassForRequirement(hasLowerCase())">Al menos una minúscula</li>
                                <li [class]="getClassForRequirement(hasUpperCase())">Al menos una mayúscula</li>
                                <li [class]="getClassForRequirement(hasNumber())">Al menos un número</li>
                                <li [class]="getClassForRequirement(hasSymbol())">Al menos un símbolo</li>
                                <li [class]="getClassForRequirement(hasMinLength())">Mínimo 8 caracteres</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    @if (
                        passwordResetForm.controls['password'].invalid && passwordResetForm.controls['password'].touched
                    ) {
                        <small class="p-error">Contraseña no valida</small>
                    }
                </div>

                <div class="field">
                    <label for="passwordConfirm">Confirmar contraseña</label>
                    <p-password
                        [feedback]="false"
                        [toggleMask]="true"
                        formControlName="passwordConfirm"
                        placeholder="Confirme su contraseña" />
                    @if (!passwordsMatch && passwordResetForm.controls['passwordConfirm'].touched) {
                        <small class="p-error">Las contraseñas no coinciden</small>
                    }
                </div>

                <p-button
                    [disabled]="
                        passwordResetForm.controls['username'].invalid ||
                        passwordResetForm.controls['username'].value === null
                    "
                    styleClass="mt-3 w-full"
                    label="¿No tiene un código? - Enviar código"
                    type="submit" />
                <span class="text-sm">Para enviar el código, ingrese su número de identificación</span>

                <p-button
                    [disabled]="passwordResetForm.invalid"
                    styleClass="mt-3 w-full"
                    label="Cambiar contraseña"
                    type="submit" />

                <div class="mt-3 text-right">
                    Volver al
                    <a class="anchor" [routerLink]="'/iniciar-sesion'">Inicio de sesión</a>
                </div>
            </form>
        </div>
    </div>
</div>
